<!-- The paginator for post list on HomgPage. -->

<nav aria-label="Page Navigation">
  <ul class="pagination align-items-center mt-4 mb-0">
    <!-- left arrow -->
    {% if paginator.previous_page %}
      {% assign prev_url = paginator.previous_page_path | relative_url %}
    {% else %}
      {% assign prev_url = '#' %}
    {% endif %}

    <li class="page-item {% unless paginator.previous_page %}disabled{% endunless %}">
      <a class="page-link pagination-button pagination-button-previous" href="{{ prev_url }}" aria-label="previous-page">
        <span class="pagination-button-box">
          <span class="pagination-button-elem">
            <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
            </svg>
          </span>
          <span class="pagination-button-elem">
            <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
            </svg>
          </span>
        </span>
      </a>
    </li>

    <!-- page numbers -->
    {% assign left_ellipsis = false %}
    {% assign right_ellipsis = false %}

    {% for i in (1..paginator.total_pages) %}
      {% assign pre = paginator.page | minus: 1 %}
      {% assign next = paginator.page | plus: 1 %}
      {% assign pre_less = pre | minus: 1 %}
      {% assign next_more = next | plus: 1 %}
      {% assign show = false %}

      {% if paginator.page == 1 %}
        {% if i <= 3 or i == paginator.total_pages %}
          {% assign show = true %}
        {% endif %}
      {% elsif paginator.page == paginator.total_pages %}
        {% if i == 1 or i >= pre_less %}
          {% assign show = true %}
        {% endif %}
      {% else %}
        {% if i == 1 or i == paginator.total_pages %}
          {% assign show = true %}
        {% elsif i >= pre and i <= next %}
          {% assign show = true %}
        {% endif %}
      {% endif %}

      {% if show %}
        <!-- show number -->
        <li class="page-item {% if i == paginator.page %} active{% endif %}">
          <a
            class="page-link"
            href="{% if i > 1 %}{{ site.paginate_path | replace: ':num', i | relative_url }}{% else %}{{ '/' | relative_url }}{% endif %}"
          >
            {{- i -}}
          </a>
        </li>
      {% else %}
        <!-- hide number -->
        {% if i < pre and left_ellipsis == false %}
          <li class="page-item disabled">
            <span class="page-link">...</span>
          </li>
          {% assign left_ellipsis = true %}
        {% elsif i > next and right_ellipsis == false %}
          <li class="page-item disabled">
            <span class="page-link">...</span>
          </li>
          {% assign right_ellipsis = true %}
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- mobile pagination -->
    <li class="page-index align-middle">
      <span>{{ paginator.page }}</span>
      <span class="text-muted">/ {{ paginator.total_pages }}</span>
    </li>

    <!-- right arrow -->
    {% if paginator.next_page_path %}
      {% assign next_url = paginator.next_page_path | relative_url %}
    {% else %}
      {% assign next_url = '#' %}
    {% endif %}

    <li class="page-item {% unless paginator.next_page_path %}disabled{% endunless %}">
      <a class="page-link pagination-button pagination-button-next" href="{{ next_url }}" aria-label="next-page">
        <span class="pagination-button-box">
          <span class="pagination-button-elem">
            <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.2 1.4 4.4.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
            </svg>
          </span>
          <span class="pagination-button-elem">
            <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.2 1.4 4.4.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
            </svg>
          </span>
        </span>
      </a>
    </li>
  </ul>
</nav>
<!-- .pagination -->
