@use '../abstracts/breakpoints' as bp;
@use '../abstracts/mixins' as mx;
@use '../abstracts/placeholders';

.dash {
  margin: 0 0.5rem 0.6rem 0.5rem;
  border-bottom: 2px dotted var(--dash-color);
}

#page-category,
#page-tag {
  ul > li {
    line-height: 1.5rem;
    padding: 0.6rem 0;

    /* dot */
    &::before {
      background: var(--accent-color);
      width: 5px;
      height: 5px;
      border-radius: 50%;
      display: block;
      content: '';
      position: relative;
      top: 0.6rem;
      margin-right: 0.5rem;

      @include bp.lt(bp.get(sm)) {
        margin: 0 0.5rem;
      }
    }

    /* post's title */
    > a {
      @extend %no-bottom-border;

      position: relative;
      display: inline-block;
      font-size: 1.1rem;
      transition: color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);

      &::after {
        content: '';
        pointer-events: none;
        position: absolute;
        bottom: -2px;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: currentColor;
        transition: width 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
          left 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
      }

      &:hover,
      &:focus-visible {
        border-bottom: none;

        &::after {
          left: 0;
          width: 100%;
        }
      }

      @include bp.lt(bp.get(sm)) {
        @include mx.text-ellipsis;
      }
    }
  }
}

/* tag icon */
#page-tag h1 > i {
  font-size: 1.2rem;
}

#page-category h1 > i {
  font-size: 1.25rem;
}

#page-category,
#page-tag,
#access-lastmod {
  a:hover {
    @extend %link-hover;

    margin-bottom: -1px; /* Avoid jumping */
  }
}
