@use '../abstracts/variables' as v;
@use '../abstracts/breakpoints' as bp;

#back-to-top {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  position: fixed;
  right: 1rem;
  bottom: calc(v.$footer-height-large - v.$back2top-size / 2);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--surface-strong-color);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 4px color-mix(in srgb, var(--accent-color) 25%, transparent);
  overflow: hidden;
  padding: 0;
  transition: opacity 0.5s ease-in-out, width 0.3s, border-radius 0.3s,
    background-color 0.3s, transform 0.2s ease-out;

  @include bp.lg {
    right: 5%;
    bottom: calc(v.$footer-height - v.$back2top-size / 2);
  }

  @include bp.xxl {
    right: calc((100vw - v.$sidebar-width - 1140px) / 2 + 3rem);
  }

  @include bp.xxxl {
    right: calc(
      (100vw - v.$sidebar-width-large - v.$main-content-max-width) / 2 + 2rem
    );
  }

  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;

    path {
      fill: var(--btn-backtotop-color);
    }
  }

  &:hover {
    width: 140px;
    border-radius: 50px;
    background-color: var(--accent-color);
    transform: translate3d(0, -5px, 0);

    .svgIcon {
      transform: translateY(-200%);
    }
  }

  &::before {
    position: absolute;
    bottom: -20px;
    content: 'Back to Top';
    color: var(--on-accent-color);
    font-size: 0;
  }

  &:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}
